/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

@media only screen and (max-width: 1040px) {
    .page {
        max-width: 800px;
    }
    .wrapper {
        max-width: 800px;
    }
    .shadow-left {
        left: -5.7%;
    }
    .menu li:before {
        margin: 15px 11px 10px 11px;
    }
    .banner {
        margin-bottom: 30px;
    }
    .lemon {
        width: 70%;
    }
    .teacup {
        width: 70%;
        right: 40%;
    }
    iframe {
        width: 212px;
        height: 120px;
    }
    .footer-menu ul li:before {
    margin: 15px 15px 10px 15px;
    }
    .flex-one {
        margin-right: 20px;
    }
    .video {
        margin-right: 30px;
}
}

@media only screen and (max-width: 850px) {
    .page {
        max-width: 700px;
    }
    .wrapper {
        max-width: 700px;
    }
    .shadow-left {
        left: -6.7%;
    }
    iframe {
        width: 200px;
        height: 120px;
    }
    .menu-items {
        margin-right: 70px;
        max-width: 100%;
}
.menu-items_links {
    display: block;
}
.testimonials-title {
    margin-left: 25px;
    margin-bottom: 15px;
}
.menu-title {
    margin-left: 20px;
    margin-bottom: 10px;
}
.link_title {
    font-size: 16px;
    text-transform: uppercase;
    line-height: 1;
}
.services_title {
    font-size: 25px;
    text-transform: uppercase;
    line-height: 0.857;
    margin-bottom: 14px;
}
.menu li:before {
    margin: 12px 11px 10px 11px;
}
.menu li a {
    font-size: 11.5px;
    line-height: 25px;
}
.teacup {
    width: 170%;
    height: 70%;
    right: 47%;
    top: 20%;
}
.banner {
    margin-bottom: -30px;
}
}
@media only screen and (max-width: 750px) {
    .page {
        max-width: 600px;
    }
    .wrapper {
        max-width: 600px;
    }
    .shadow-right {
        right: -7.5%;
    }
    .shadow-left {
        left: -7.5%;
    }
    .phone-title {
        font-size: 20px;
    }
    .phone-telephone {
        font-size: 25px;
        line-height: 1.2;
    }
    .logo {
        width: 120px;
        height: 120px;
    }
    .left {
        top: 25%;
        left: -27%;
    }
    .right {
        top: -35%;
        right: -38%;
    }
    .and {
        font-size: 105px;
    }
    .cafe-restaurant {
        font-size: 20px;
    }
    /*.menu li:before {
        margin: 10px 8px 10px 8px;
        }*/
    .mini-menu-ul li {
            padding: 0 8px;
    }
    .search-input {
            width: 170px;
            height: 35px;
            padding-left: 15px;
        }
    .teacup {
        width: 120%;
        top: 10%;
        right: 45%;
        }
    .banner {
        margin-bottom: 30px;
    }
    /*.menu li a {
        font-size: 10px;
        line-height: 20px;
    }*/
    .services_title {
        font-size: 20px;
        line-height: 0.657;
}
    .menu-items {
    margin-right: 43px;
    max-width: 100%;
}
    iframe {
    width: 155px;
    height: 70px;
}
    .footer-menu ul li a {
    font-size: 10px;
    line-height: 1.5;
}
    .footer-menu ul li:before {
    margin: 10px 10px 10px 10px;
}
    .copyright {
    font-size: 10px;
    line-height: 1.5;
}
}
@media only screen and (max-width: 660px) {
    .page {
        max-width: 500px;
        padding: 30px 13px 0 13px;
    }
    .wrapper {
        max-width: 500px;
    }
    .shadow-left {
        left: -9.5%;
    }
    .shadow-right {
        right: -10%;
    }
    .phone-title {
        font-size: 16px;
    }
    .phone-telephone {
        font-size: 20px;
        line-height: 1.1;
    }
    .logo {
        width: 80px;
        height: 80px;
        border: 5px solid #a2745a;
    }
    .left {
        top: 25%;
        left: -24%;
        width: 20%;
    }
    .right {
        top: -30%;
        right: -46%;
        width: 25.39%;
    }
    .and {
        font-size: 70px;
    }
    .cafe-restaurant {
        font-size: 14px;
    }
    .mini-menu-ul a {
        font-size: 13px;
        line-height: 15px;
    }
    .search-input {
        width: 150px;
        height: 30px;
        padding-left: 15px;
    }
    .mini-menu-ul li {
        padding: 0 3px;
    }
    .search-button {
        top: 23%;
        right: 5%;
        width: 19px;
        height: 16px;
    }
    /*.menu {
        padding: 5px 0 4px 12px;
    }
    .menu li:before {
        margin: 10px 7px 5px 8px;
    }
    .menu li a {
        font-size: 8px;
    }*/
    .banner_title {
        font-size: 45px;
    }
    .order a {
        font-size: 20px;
        line-height: 2.3;
        padding: 4px 12px 5px 12px;
    }
    .services_title {
        font-size: 14px;
        line-height: 0.8;
}
.link-flex {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 45% 45%;
    -ms-grid-columns: 50% 50%;
        grid-template: 45% 45% / 50% 50%;
    padding: 17px 15px 0 29px;
}
.video {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: 2/2;
}
iframe {
    width: 200px;
    height: 110px;
}
.shadow-b {
    margin-bottom: 20px;
}
.footer-menu ul li:before {
    margin: 8px 5px 10px 5px;
}
.copyright {
    font-size: 8px;
    line-height: 1.5;
}
}
@media only screen and (max-width: 530px) {
    .page {
        max-width: 400px;
    }
    .wrapper {
        max-width: 400px;
    }
    .phone-telephone {
        font-size: 18px;
    }
    .mini-menu-ul a {
        font-size: 12px;
    }
    .search-input {
        width: 125px;
        height: 25px;
        padding-left: 10px;
    }
    .logo {
        width: 50px;
        height: 50px;
        border: 3px solid #a2745a;
    }
    .and {
        font-size: 45px;
    }
    .cafe-restaurant {
        font-size: 10px;
    }
    .right {
        top: -30%;
        right: -42%;
        width: 25.39%;
    }
    .shadow-left {
        left: -11.4%;
    }
    .shadow-right {
        right: -11.4%;
    }
    .banner {
        display: -ms-grid;
        display: grid;
        -ms-grid-rows: 170px;
        -ms-grid-columns: 175px 175px;
            grid-template: 170px / 175px 175px;
        padding: 0;
    }
    .background-wrapper {
        padding: 10px 10px 0 10px;
}
    /*.menu li:before {
    content: none;
}
    .menu li {
        margin-right: 6px;
}*/
    .banner-flex-one {
    padding-left: 10px;
}
    .banner_title {
        margin-top: 20px;
        margin-bottom: 15px;
        font-size: 35px;
}
    .tea {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin-left: 15px;
}
    .services_title {
    font-size: 10px;
}
    .card {
    padding: 10px 10px 20px 10px;
    margin-right: 10px;
}
    .services {
    margin-bottom: 28px;
}
    .menu-items {
    -ms-grid-row: 2;
    grid-area: 2;
}
    .testimonials {
        -ms-grid-row: 2;
        grid-area: 2;
    }
    .video {
        -ms-grid-row: 1;
        grid-area: 1;
        margin-bottom: 50px;
    }
    .video-title {
        margin-bottom: 19px;
        width: 100%;
    }
    iframe {
        width: 300px;
        height: 170px;
    }
    .social-dotted-l {
        margin-right: -11px;
    }
    .social-dotted-r {
        margin-left: -10px;
    }
    .footer-menu ul li:before {
        content: none;
    }
    .footer-menu ul li {
        margin-right: 5px;
    }
    .copyright {
        font-size: 7px;
    }
}
@media only screen and (max-width: 430px) {
    .page {
        max-width: 350px;
    }
    .wrapper {
        max-width: 350px;
    } 
    .teacup {
    top: 20%;
    right: 75%;
    }
    iframe {
        width: 250px;
    height: 150px;
    }
    .menu-title::before {
        content: none;
    }
    .testimonials-title::before { 
        content: none;
    }
    .menu-title {
        margin-left: 0;
    }
    .testimonials-title {
        margin-left: 0;
    }
    .footer {
        padding: 5px 0;
    }
    .footer-s-b {
        display: none;
    }
    .footer-menu {
        display: none;
    }
    .copyright {
        font-size: 6px;
    }
    .shadow-left {
        left: -12.8%;
    }
    .shadow-right {
        right: -12.8%;
    }
}
@media only screen and (max-width: 380px) {
    .page {
        max-width: 310px;
    }
    .wrapper {
        max-width: 310px;
    } 
    .tea {
        margin-left: 23px;
    }
    .teacup {
            right: 110%;
            width: 80%;
}
.services_title {
    font-size: 9px;
}
.link-flex {
    -ms-grid-rows: 38% 45%;
    -ms-grid-columns: 50% 50%;
        grid-template: 38% 45% / 50% 50%;
    padding: 17px 15px 0 15px;
}
.shadow-left {
    left: -14.9%;
}
.shadow-right {
    right: -14.9%;
}
iframe {
    width: 220px;
    height: 120px;
}
.social-beauty {
    display: none;
}
.social-dotted-r {
    display: none;
}
.social-dotted-l {
    display: none;
}
}
